In [53]:
import pandas as pd
import numpy as np

In [20]:
rank_df = pd.read_csv('ranking_summary.csv')
rank_df.head(10)

,Row Labels,Score,no of period,Play,Goal,Takeaway,Faceoff
0,Kaleigh Fratkin,195.233684,21,11.523810,0.000000,0.761905,0.000000
1,Kiira Dosdall,180.453207,9,10.111111,0.000000,0.888889,0.000000
2,Taylor Woods,168.979656,19,8.263158,0.210526,0.736842,0.000000
3,Sydney Baldwin,166.272634,13,8.615385,0.076923,1.615385,0.000000
4,Shiann Darkangelo,159.388749,19,8.105263,0.000000,1.210526,0.632000
5,Madison Packer,156.559750,9,8.222222,0.000000,1.666667,0.000000
6,Mallory Souliotis,156.528115,21,8.333333,0.142857,1.047619,0.000000
7,Rebecca Morse,151.907230,9,7.000000,0.000000,1.444444,0.000000
8,Tereza Vanisova,149.385197,21,6.571429,0.000000,0.809524,0.662338
9,Tori Howran,148.880638,10,7.400000,0.100000,1.300000,0.000000

In [29]:
SD = rank_df[['no of period', 'Play', 'Goal', 'Takeaway', 'Faceoff']].std()
print(SD)

no of period    5.411340
Play            2.189468
Goal            0.062152
Takeaway        0.419805
Faceoff         0.198075
dtype: float64

In [15]:
keys = ['goal_1', 'goal_2', 'goal_3', 'play_1', 'play_2', 'faceoff_1', 'faceoff_2', 'takeaway']
columns = ['player']

role_dict = {
    'goal_1': 'Goal',
    'goal_2': 'Goal', 
    'goal_3': 'Goal', 
    'play_1': 'Play', 
    'play_2': 'Play', 
    'faceoff_1': 'Faceoff', 
    'faceoff_2': 'Faceoff', 
    'takeaway': 'Takeaway'
}

player_df = pd.DataFrame(columns=columns)
player_df.insert(0, 'roles', keys)
player_df

       roles player
0     goal_1    NaN
1     goal_2    NaN
2     goal_3    NaN
3     play_1    NaN
4     play_2    NaN
5  faceoff_1    NaN
6  faceoff_2    NaN
7   takeaway    NaN

In [42]:
new_rank_df = rank_df.copy()



min_periods = SD[0] + new_rank_df['no of period'].mean()
print(min_periods)
new_rank_df = new_rank_df[new_rank_df['no of period'] > min_periods]
print(new_rank_df)

18.641498968454894
                Row Labels       Score  no of period       Play      Goal  \
0          Kaleigh Fratkin  195.233684            21  11.523810  0.000000
2             Taylor Woods  168.979656            19   8.263158  0.210526
4        Shiann Darkangelo  159.388749            19   8.105263  0.000000
6        Mallory Souliotis  156.528115            21   8.333333  0.142857
8          Tereza Vanisova  149.385197            21   6.571429  0.000000
11     Mikyla Grant-Mentis  145.763885            19   5.473684  0.263158
12           McKenna Brand  143.405488            21   6.761905  0.142857
14        Lindsay Eastwood  140.306746            19   7.894737  0.052632
16            Lauren Kelly  138.823723            21   6.761905  0.095238
17        Taylor Turnquist  136.295768            21   7.047619  0.000000
18          Alyson Matteau  136.229513            19   6.842105  0.000000
19      Marie-Jo Pelletier  135.299875            19   6.894737  0.000000
20          Samantha Davis  134.594674            21   5.666667  0.190476
22            Sarah Steele  132.250445            19   8.315789  0.000000
24        Dominique Kremer  130.787910            19   5.210526  0.000000
25            Whitney Dove  126.959350            19   5.526316  0.000000
29  Breanne Wilson-Bennett  117.359349            19   5.000000  0.105263
31       Christina Putigna  112.877198            21   4.666667  0.095238
34             Megan Quinn  111.865026            19   5.631579  0.052632
36            Jordan Juron  110.625543            19   4.000000  0.052632
41         Kristin Lewicki  105.766657            19   4.315789  0.105263
44      Cassidy MacPherson  103.654685            19   4.368421  0.000000
47        Natalie Marcuzzi  101.424646            19   3.421053  0.000000
51              Erin Gehen   96.137781            19   3.526316  0.000000
52       Mackenzie MacNeil   95.893834            19   2.473684  0.105263
55         Paige Capistran   94.147242            21   4.619048  0.000000
60       Autumn MacDougall   91.615023            19   3.736842  0.157895
65              Emma Greco   89.082663            19   3.526316  0.000000
66      Taylor Wenczkowski   86.998127            21   4.380952  0.047619
74             Lexie Laing   78.505370            21   3.571429  0.047619
77           Tori Sullivan   76.246936            20   4.300000  0.000000
83         Meghara McManus   69.908364            20   1.550000  0.050000
86             Megan Delay   66.327733            19   2.315789  0.000000
87           Carlee Turner   65.363873            21   2.714286  0.000000

    Takeaway   Faceoff
0   0.761905  0.000000
2   0.736842  0.000000
4   1.210526  0.632000
6   1.047619  0.000000
8   0.809524  0.662338
11  1.000000  0.542857
12  0.333333  0.000000
14  0.894737  0.000000
16  0.904762  0.000000
17  0.809524  0.000000
18  1.473684  0.000000
19  1.263158  0.000000
20  0.857143  0.000000
22  0.578947  0.000000
24  1.526316  0.000000
25  0.789474  0.000000
29  1.315789  0.584416
31  0.666667  0.000000
34  0.578947  0.000000
36  1.105263  0.401639
41  0.894737  0.000000
44  1.052632  0.436782
47  1.210526  0.464286
51  0.736842  0.000000
52  0.789474  0.000000
55  0.380952  0.000000
60  0.368421  0.000000
65  0.736842  0.000000
66  0.428571  0.000000
74  0.809524  0.585106
77  0.700000  0.000000
83  0.850000  0.000000
86  0.736842  0.000000
87  0.666667  0.551724

In [66]:
i = 3
j=0
k=0
weakness_index = 7
new_rank_df['Weaknesses'] = 0
print(new_rank_df)

while i < len(new_rank_df.columns) - 1:
    min_rate = SD[j]
    print(new_rank_df.iloc[k, weakness_index])
    while k < len(new_rank_df):

        if new_rank_df.iloc[k][i] < min_rate:
            print(new_rank_df.loc[k].Weaknesses)

        k += 1
    
    

    i += 1
    j += 1

print(new_rank_df)

                Row Labels       Score  no of period       Play      Goal  \
0          Kaleigh Fratkin  195.233684            21  11.523810  0.000000
2             Taylor Woods  168.979656            19   8.263158  0.210526
4        Shiann Darkangelo  159.388749            19   8.105263  0.000000
6        Mallory Souliotis  156.528115            21   8.333333  0.142857
8          Tereza Vanisova  149.385197            21   6.571429  0.000000
11     Mikyla Grant-Mentis  145.763885            19   5.473684  0.263158
12           McKenna Brand  143.405488            21   6.761905  0.142857
14        Lindsay Eastwood  140.306746            19   7.894737  0.052632
16            Lauren Kelly  138.823723            21   6.761905  0.095238
17        Taylor Turnquist  136.295768            21   7.047619  0.000000
18          Alyson Matteau  136.229513            19   6.842105  0.000000
19      Marie-Jo Pelletier  135.299875            19   6.894737  0.000000
20          Samantha Davis  134.594674            21   5.666667  0.190476
22            Sarah Steele  132.250445            19   8.315789  0.000000
24        Dominique Kremer  130.787910            19   5.210526  0.000000
25            Whitney Dove  126.959350            19   5.526316  0.000000
29  Breanne Wilson-Bennett  117.359349            19   5.000000  0.105263
31       Christina Putigna  112.877198            21   4.666667  0.095238
34             Megan Quinn  111.865026            19   5.631579  0.052632
36            Jordan Juron  110.625543            19   4.000000  0.052632
41         Kristin Lewicki  105.766657            19   4.315789  0.105263
44      Cassidy MacPherson  103.654685            19   4.368421  0.000000
47        Natalie Marcuzzi  101.424646            19   3.421053  0.000000
51              Erin Gehen   96.137781            19   3.526316  0.000000
52       Mackenzie MacNeil   95.893834            19   2.473684  0.105263
55         Paige Capistran   94.147242            21   4.619048  0.000000
60       Autumn MacDougall   91.615023            19   3.736842  0.157895
65              Emma Greco   89.082663            19   3.526316  0.000000
66      Taylor Wenczkowski   86.998127            21   4.380952  0.047619
74             Lexie Laing   78.505370            21   3.571429  0.047619
77           Tori Sullivan   76.246936            20   4.300000  0.000000
83         Meghara McManus   69.908364            20   1.550000  0.050000
86             Megan Delay   66.327733            19   2.315789  0.000000
87           Carlee Turner   65.363873            21   2.714286  0.000000

    Takeaway   Faceoff  Weaknesses
0   0.761905  0.000000           0
2   0.736842  0.000000           0
4   1.210526  0.632000           0
6   1.047619  0.000000           0
8   0.809524  0.662338           0
11  1.000000  0.542857           0
12  0.333333  0.000000           0
14  0.894737  0.000000           0
16  0.904762  0.000000           0
17  0.809524  0.000000           0
18  1.473684  0.000000           0
19  1.263158  0.000000           0
20  0.857143  0.000000           0
22  0.578947  0.000000           0
24  1.526316  0.000000           0
25  0.789474  0.000000           0
29  1.315789  0.584416           0
31  0.666667  0.000000           0
34  0.578947  0.000000           0
36  1.105263  0.401639           0
41  0.894737  0.000000           0
44  1.052632  0.436782           0
47  1.210526  0.464286           0
51  0.736842  0.000000           0
52  0.789474  0.000000           0
55  0.380952  0.000000           0
60  0.368421  0.000000           0
65  0.736842  0.000000           0
66  0.428571  0.000000           0
74  0.809524  0.585106           0
77  0.700000  0.000000           0
83  0.850000  0.000000           0
86  0.736842  0.000000           0
87  0.666667  0.551724           0
0
0
0
0
0
0

KeyError: 21

slice out rows where no of period < mean +1*SD
make new column for number of events that they player is higher than SD criteria




while true:
    for i in length of player_df:
        for player in rank_df
            threshhold = mean + SD
            if rate is above threshhold
                populate each row in player column with the first ranked player that meets 1 SD above mean criteria
    
    if player_df.player.nuinque() < 6:
        break
    else
        # start replacing players
        in reverse order: for players with the highest number of poor events and moving to the least and also with the lowest score
            remove that row and repopulate

Taylor Woods
Mallory Souliotis
Mikyla Grant-Mentis
Shiann Darkangelo
Tereza Vanisova